h1{
    color:#efb959;
	margin:0;
	padding-top:5px;
}
h2{
	margin:0;
	text-align: left;
	padding-left:20px;
}
h4{
	text-align: center;
	margin:0;
}
header {
	min-width: 850px;
	margin-bottom: 10px;
}
body {
	background-color:black;
	background-image:url("/images/bg.jpg");
	background-repeat:no-repeat;
	background-position: center;
	margin:0;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	color:#efb959;
}
html {
	text-align: center;
	overflow: auto;
}
a {
	color:#ca982c
}
p {
	margin:0;
	text-align:left;
	color:#e0e0e0;
}
ul{
	list-style: none;
	text-indent: none;
	padding: 15px;
	margin:0;
}
li{
	height:50px;
	text-align: left;
	padding-left:20px;
	padding-top: 5px;
	color:white;
}

.logodiv{
	background-image:url("/images/logocircle.png");
	background-repeat:no-repeat;
	display:inline-block;
	height:180px;
	width:220px;
}
.navbutton{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom:20px;
}
.frame{
	width:60%;
	/*border:36px solid rgba(128,128,128,.25);
*/	
	border-top: 36px;
	border-left: 36px;
	border-right: 36px;
	border-bottom: 18px;
	border-style:solid;
	border-color:rgba(128,128,128,.25);


	border-radius:70px 70px 0 0;
	margin:0 auto;
	min-height: 200px;
	min-width: 700px;
}
/*.bottombar{
	background-color:rgba(128,128,128,.50);
	position:absolute;
	height:36px;
	border-radius:50px 50px 0px 0px;
	width:90%;
	margin: 0 auto;
	bottom:0;
	vertical-align: text-bottom;
}*/

.bottomcontain{

  position: absolute;
  bottom:0;
  width: 100%;
}
.bottombar{
  
  margin: 0 auto;
  width:62%;
  height: 18px;
  background-color:rgba(128,128,128,.35);
  border-radius:50px 50px 0px 0px;
  vertical-align: text-bottom;
}
.bottombar p{
	text-align: center;
}

.content{
	background-color: black;
	/*background-image: url("/images/underc.jpg");*/
	background-position:top center;
	height:100%;
	width: 100%;
	overflow: auto;
}
.post1{
	border: 1px solid white;
	margin-top: 5px;
	margin-bottom: 5px;	
}
.post2{
	border: 1px solid grey;
	margin-top: 5px;
	margin-bottom: 5px;	
}
.announcement{
	font-size: 1.2em;
	height:100px;
}
.content p{
	padding:15px;
	text-indent: 30px;
}

